.flexbox-container {
  display: flex;
  max-width: auto;
  padding: 15px;
  flex-wrap: wrap;
  background-color: aqua;
  justify-content: space-around;
  align-items: center;
  border: 20px solid blue;
}

.flexbox-item-1 {
  width: 200px;
  height: 200px;
  border: 5px solid black;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 15px 15px 15px grey;
  margin-bottom: 15px;
  background-color: bisque;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.flexbox-item-1:hover {
  cursor: pointer;
  /* background-image: url("./morocco-blue.png"); */
  border-radius: 50%;
  transform: scale(1.5, 1.5);
  /* transform-origin: top; */
}
#refBtn button {
  width: 200px;
}
